@font-face {
    font-family: "Gotham SSm" ;
    src: url(/fonts/GothamSSm-Book_Web.woff2);
    font-weight: 400;
}
@font-face {
    font-family: "Gotham SSm" ;
    src: url(/fonts/GothamSSm-Medium_Web.woff2);
    font-weight: 500;
}
html{
    font-family: "Gotham SSm", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
}
h1{
    font-family: "Gotham SSm", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    font-size: 36px;
    
}
p a{
    color: #171a20;
}